@using BlazorGame.Data
@inject HttpClient httpClient

<section class="mb-3" >
    <p>@Item.Question</p>
    <div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" @bind="answer" @onkeyup="KeyUp">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" @onclick="CheckAnswer">Отправить</button>
            </div>
        </div>
    </div>
</section>

@code{
    string answer;

    [Parameter]
    public QuizItem Item { get; set; }

    [Parameter]
    public UserState State { get; set; }

    [Parameter]
    public EventCallback<long> OnRightAnswer { get; set; }

    void KeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            CheckAnswer();
        }
    }

    async void CheckAnswer()
    {
        var dbAnswer = Item?.Answer.ToLower();
        if (!string.IsNullOrEmpty(dbAnswer) && answer.ToLower().Contains(dbAnswer))
        {
            answer = "";
            var exp = await httpClient.GetFromJsonAsync<int>("/quiz/markasdone/?" + $"userId={State.UserId}&quizItemId={Item.Id}");

            if(exp > 0)
                await OnRightAnswer.InvokeAsync(exp);
        }
    }
}