@page "/"

@using BlazorGame.Data
@inject QuizService QuizService

<p>Your current score is <b>@state.CurrentScore</b></p>

@if (quiz == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var quizItem in quiz)
    {
        <QuizViewer Item="@quizItem" State="@state" OnScoreChanged="ScoreChanged" />
    }
}

@code {
    List<QuizItem> quiz;
    UserState state = new UserState();

    protected override async Task OnInitializedAsync()
    {
        quiz = await QuizService.GetQuizesAsync(state.UserId);
    }

    public async void ScoreChanged(int score)
    {
        state.CurrentScore = score;
    }
}