@using BlazorGame.Data
@inject QuizService QuizService

<section class="mb-3" >
    <p>@Item.Question</p>
    <div>
        <input class="form-control" type="text" @oninput="@((eventArgs) => CheckAnswer(eventArgs.Value.ToString(), Item.Id))" />
    </div>
</section>

@code{
    [Parameter]
    public QuizItem Item { get; set; }

    [Parameter]
    public UserState State { get; set; }

    [Parameter]
    public EventCallback<int> OnScoreChanged { get; set; }

    async void CheckAnswer(string answer, Guid quizItemId)
    {
        var dbAnswer = Item?.Answer.ToLower();
        if (!string.IsNullOrEmpty(dbAnswer) && answer.ToLower().Contains(dbAnswer))
        {
            await QuizService.MarkAsDoneAsync(State.UserId, quizItemId);
            await OnScoreChanged.InvokeAsync(++State.CurrentScore);
        }
    }
}